@use './theme.scss';
@use './floatLinkEditor.scss';
@use './draggableBlock.scss';
@use './imageNode.scss';

.root-lexical-editor {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;

  .placeholder {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    color: #999;
    font-size: 14px;
  }

  .content {
    margin: 0;
    padding: 10px 6px;
    box-sizing: border-box;
    line-height: 1.5;
    outline: none;
    overflow: auto;
    font-size: 16px;
    &[aria-disabled='true'] {
      background-color: #f9f9f9;
      cursor: not-allowed;
    }
  }
}

.tree-view-output {
  width: 100%;
  background-color: #000;
  color: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
