.root-lexical-editor {
  span.editor-media {
    cursor: default;
    position: relative;
    display: inline-block;

    audio {
      width: 300px;
      height: 54px;
    }

    .focused {
      outline: 2px solid rgb(60, 132, 244);
      user-select: none;
    }
  }
}
