html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root-lexical-editor {
  width: 80%;
  margin: 0 auto !important;

  .editor {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
  }

  .editor-content {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 260px;
    overflow-y: auto;
  }

  .toolbar {
    width: 100%;
    display: flex;
    gap: 2px;
    flex-wrap: wrap;

    select {
      padding: 5px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background-color: #f0f0f0;
    }

    button {
      padding: 5px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background-color: #f0f0f0;
    }

    .active {
      background-color: #ccc;
    }
  }
}

.footer {
  width: 100%;
  display: flex;
  justify-content: end;
}

.actions {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}
